*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* brand colors */
  --clr-bg-body: #ffeeed;
  --clr-bg-discounts: rgb(170, 97, 88, 0.24);
  --clr-text-headings: #833c33;
  --clr-text-body: #833c33;
  --clr-accent-green: #609f80;
  --clr-accent-green-light: #609f8040;
  --clr-accent-green-dark: #26704b;
  --clr-accent-blue: #665f9e;
  --clr-accent-blue-light: #665f9eae;
  --clr-accent-blue-dark: #393277;
  --clr-accent-choco: #aa6158;
  --clr-accent-choco-dark: #934137;

  --clr-overlay-choco: rgba(170, 98, 88, 0.785);

  --fs-h1: clamp(2rem, 1.6039rem + 1.6901vw, 3.125rem);
  --fs-h2: clamp(1.75rem, 1.3099rem + 1.8779vw, 3rem);
  --fs-h3: clamp(1.125rem, 1.0739rem + 0.7512vw, 1.25rem);
  --fs-body: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
}

body {
  line-height: 1.7;
  background-color: var(--clr-bg-body);
  color: var(--clr-text-body);
  font-size: var(--fs-body);
  font-family: Arial, Helvetica, sans-serif;
}

ul,
menu {
  list-style: none;
}

/* a:link,
a:visited {
  color: #fff;
  text-decoration: none;
} */

img,
svg {
  display: block;
  max-width: 100%;
}

.layout {
  max-width: min(95%, 1250px);
  margin-inline: auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading-accent {
  color: var(--clr-accent-green);
  font-weight: bold;
}
.btn {
  text-decoration: none;
  color: #fff;
  padding-block: 1em;
  padding-inline: 1.5em;
  border-radius: 0.975rem;
  display: inline-block;
}

.hero_section h1 {
  font-size: var(--fs-h1);
  line-height: 1.2;
}

section {
  margin-block: 4em;
}

.cta-btn {
  background-color: var(--clr-accent-green);
  max-width: 100%;
  justify-self: start;
  max-width: 75%;
  text-align: center;
}

.section__header-div h2 {
  color: #fff;
  font-weight: bold;
  background-color: var(--clr-overlay-choco);
  padding-inline: 3rem;
  padding-block: 1rem;
  font-size: var(--fs-h2);
}

@media (max-width: 900px) {
  .section__header-div h2 {
    text-align: center;
  }
}

.logo-brand {
  width: 4rem;
  height: 4rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr-accent-green);
  border-radius: 50%;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h3 {
  font-size: var(--fs-h3);
  line-height: 1.2;
}

h2 {
  font-size: var(--fs-h2);
  line-height: 1.3;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  bottom: -50px;
  right: -60px;
}

.main_header {
  display: flex;
  padding-block: 1em;
  justify-content: space-between;

  align-items: center;
}

.main_header .main_header_navigation menu {
  display: flex;
  gap: 4rem;
}

.main_header a {
  color: var(--clr-accent-choco);
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.main_header_navigation_mobile-button,
.main_header_navigation-mobile {
  display: none;
}

.main_header .main_header_navigation .main__header__navigation-item:hover {
  color: var(--clr-accent-green);
}

.hamburger {
  position: relative;
  display: none;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--clr-accent-choco);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.main_header_navigation-mobile {
  position: fixed;
  top: 5rem;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: none;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 120px;
  transition: 0.4s;
}

.main_header_navigation-mobile.is-active {
  left: 0;
}

.main_header_navigation-mobile .main__header__navigation-item-mobile {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  color: white !important;
  text-decoration: none;
}

.hamburger-sticky {
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 99;
}

.main_header_navigation-mobile .main__header__navigation-item-mobile:hover {
  background-color: var(--clr-accent-green);
  color: #fff !important;
}

@media (max-width: 750px) {
  .absolute {
    position: static;
    max-width: 250px;
    margin-left: auto;
    margin-top: 2rem;
  }
}

.see-post-link {
  color: var(--clr-text-headings);
}

.text-center {
  text-align: center;
}
